name: Biology Agent v1
on:
  workflow_dispatch:
jobs:
  run-agent:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - run: pip install -U google-generativeai
      - run: python main.py
        env:
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
      - name: Save Result
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add VIDEO_PLAN.md
          git commit -m "Success: Biology Plan Created" || exit 0
          git push
